
.main{
    width:100%;
    height:100vh;
    margin:auto;
    background-image:url('./pexels-christian-heitz-285904-842711.jpg');
    background-size:cover;
    flex-direction: column;
    text-align: right;
}


.headerSection{
    /* width:90%;
    height:10vh; */
    gap:45px;
    color:antiquewhite;
    display:flex;
    justify-content:flex-end;
    align-items:end;
    word-spacing: normal;
    align-items: center;
}
.headerSection nav{
    gap:20px;
    right:20px;
}

.headerSection .gmail{
    font-size:0.9rem;
    gap:15px;
}

.headerSection .images{
    font-size:0.9rem;
    gap:15px;
}

.headerSection .logo{
    width:10%;
    gap:15px;
    border-radius:90%;
    top:30px;
    right:20px;
}

.searchSection{
    width:100%;
    height:80vh;
    display:flex;
    justify-content:center;
    align-items:center; 
    flex-direction:column;
    margin-bottom: auto;
}

.searchSection .searchBox{
    background-color:wheat;
    border:none;
    width:60%;
    height: 8vh;
    padding:0 35px;
    border-radius: 50px;
    display:flex;
    justify-content:space-between;
    align-items: center;

}



.searchSection .searchBox .searchInput{
    width:100%;
    height:70%;
    border:none;
    outline:none;
    font-size:1.2rem;
    background-color: wheat;
}

#text{
    color:powderblue;
    font-size: 2rem;
    text-align: center;
}



.main button{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:30px;
} 